$white: #FFFFFF;
$marron: #6B5B54;
$blue_green: #345765;
$green: #34A58A;
$black: #000000;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;

    nav{
        width: 100%;
        background-color: $blue_green;
        position: fixed;
        top: 0;
        
        div{
            width: 1400px;
            margin: auto;
        }

        ul{
            display: flex;
            margin: 0;
            padding: 0;
            text-align: left;
            justify-content: right;
        }

        li{
            margin: 40px;
            list-style: none;
            margin-left: 10px;
            
            &:last-of-type{
                margin-right: 0;
            }
        }

        a{
            color: $white;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 20px;
            letter-spacing: 5%;
            font-family: Lato;
            font-weight: 400;
            text-align: center;

            &:hover{
                text-decoration: underline;
            }
        }
        
        }

        .boite_header{
            max-width: 1400px;
            margin: auto;
            margin-top: 220px;

            h1{
                color: $green;
                margin-right: 0;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 40px;
                text-transform: uppercase;
            }

            img{
                margin: auto;
                width: 100%;
                height: 565px;
                margin-top: 35px;
                border-radius: 15px;
                object-fit: cover;
            }
    }
}

main{
    .main_div_div_section_de_presentation{
        max-width: 1400px;
        margin: auto;
    }

    .div_div_section_presentation, .div_div_section_coordonneees,
    .div_div_section_carte{

        h2{
            font-size: 36px;
            font-family: Montserrat;
            color: $marron;
            margin-top: 100px;
        }
    }

    .div_div_section_presentation, 
    .div_div_section_coordonneees {
        max-width: 758.55px;
        height: 255px;

        p{
            box-sizing: border-box;
            letter-spacing: 5%;
            font-family: Lato;
            font-size: 20px;
            font-weight: 300;
            color: $black;
        }

        ul{
            padding: 0;
        }

        li{
            list-style: none;
            margin-top: 20px;
        }

        img{
            width: 16.33px;
            height: 20.2px;
            margin-right: 20px;
        }

        a{
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
            color: #34A58A;
            font-family: Lato;
            letter-spacing: 5%;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .main_div_div_section_de_presentation { display: flex; }

    .div_div_section_carte{ margin-left: 200px; iframe { border-radius: 15px; } }

    .main_div_div_boite_article{
        max-width: 1600px;
        margin: auto;
        margin-top: 150px;
        background-color: $white;
        box-shadow: 5px 5px 10px #00000075;
    }

    .boite_section_tout_voir{

        section{
            display: flex;
        }

        ul, h2{
            justify-content: space-between;
            margin: 40px auto;
        }

        h2{
            margin-left: 50px;
            color: $marron;
            margin-top: 25px;
            font-family: Montserrat;
            font-weight: 600;
            font-style: Bold;
            font-size: 36px;
        }

        ul{
            margin-right: 50px;
        }

        li{
            list-style: none;
        }

        a{
            padding: 20px;
            background-color: #34A58A;
            color: $white;
            font-family: Montserrat;
            text-decoration: none;
            border-radius: 5px;
            transition: 0.2s;
            padding-right: 50px;
            padding-left: 50px;

            &:hover{
                transition: 0.3s;
                background-color: #34a58baf;
            }
        }

    }

    .main_div_div_section{	
        display: flex;

        article{
            display: flex;
            margin: auto;
            margin-bottom: 60px;
        }

        h3{
            font-family: Montserrat;
            font-weight: 600;
            font-size: $black;
            margin-bottom: 0;
            margin-left: 0;
        }

        p{
            font-family: Lato;
            color: $black;
            letter-spacing: 4%;
            font-size: 18px;
        }

        div{
            width: 393px;
            margin-left: 20px;
        }

        .div_article_div{
            margin-left: 0;
        }

        article{
            margin-top: 0;
        }

        .article_div_p{
            margin: 0;
            font-family: Lato;
            font-size: 14px;
            color: #345765;
        }

        ul{
            text-align: right;
            list-style: none;
            font-size: 24px;
            color: $green;
            font-family: Montserrat;
            margin-bottom: 0;
        }

        a{
            text-decoration: none;
            color: $green;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

footer{
    div{
        width: 100%;
        height: 466.74px;
    }

}